.container {
    margin: auto;
    background-color: lemonchiffon;
}

.floater-section {
    float: left;
    width: 100%;
    min-height: 200px;
    margin-bottom: 20px;
}

.clearfix {
    clear: both;
}

/*************SMALL SCREENS********************/
@media (min-width: 450px){
    .container {
        width: 440px;
    }

    .small-width-25 {
        width: 25%;
    }
    
    .small-width-33 {
        width: 33.3333%;
    }
    
    .small-width-50 {
        width: 50%;
    }

    .small-width-100 {
        width: 100%;
    }
}

/*************MEDIUM SCREENS*******************/
@media (min-width: 768px){
    .container {
        width: 760px;
    }

    .med-width-25 {
        width: 25%;
    }
    
    .med-width-33 {
        width: 33.3333%;
    }

    .med-width-50 {
        width: 50%;
    }

    .med-width-100 {
        width: 100%;
    }
}

/*************LARGE SCREENS*******************/
@media (min-width: 992px){
    .container {
        width: 960px;
    }

    .large-width-25 {
        width: 25%;
    }
    
    .large-width-33 {
        width: 33.33333%;
    }

    .large-width-50 {
        width: 50%;
    }

    .large-width-100 {
        width: 100%;
    }
}