.content {
    padding: 0px 10px;
    min-height: 572px;
    border-bottom: 2px solid darkorchid;
    position: relative;
}

.content .img-container {
    min-height: 160px;
}

.content img {
    max-width: 100%;
}

.content .abs-pos {
    position: absolute;
}

#jkrOverlap{
    top: 30px;
}

#jkrTitle {
    top: 200px;
    right: 30px;
    color: whitesmoke;
    text-shadow: 1px 0px 4px #073566;
}